.projects {
    max-width: 1400px;
    margin: 0 auto;
    &-list {
        display: grid;
        gap: 1em;
        padding: var(--padding-sm);
        margin: 0 auto;
        grid-template-columns: auto auto auto auto;
        justify-content: start;
        @media (max-width: 900px) {
            grid-template-columns: auto auto auto;
        }
        @media (max-width: 700px) {
            grid-template-columns: auto auto;
        }
        @media (max-width: 600px) {
            grid-template-columns: auto;
        }
    }
}

.project-item {
    max-width: 325px;
    background-color: var(--foreground);
    border-radius: var(--border-radius);
    @media (max-width: 600px) {
        width: 100%;
        max-width: 100%;
    }
}