.project {
    &-image {
        max-width: 100%;
        box-shadow: inset 5px 5px 10px 4px rgba(var(--text-color), 0.1);
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        background-color: var(--foreground);
        padding: var(--padding-md);
        background: linear-gradient(270deg, var(--foreground), var(--accent));
        img {
            width: 100%;
        }
    }
    &-content {
        padding: var(--padding-sm) var(--padding-md) var(--padding-md) var(--padding-md);
        p {
            margin-top: 0;
        }
    }
}

.dialog-open {
  overflow: hidden;
}