.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--overlay);
    display: flex;
    align-items: start;
    justify-content: center;
    border-radius: var(--border-radius);
    overflow: hidden;
    max-height: 100vh;
    padding: var(--padding-md);

    @media (max-width: 1295px) {
        padding: var(--padding-sm);

        h1 {
            font-size: 1em;
        }
    }

    h1 {
        width: 90%;
        text-align: center;
    }
}

.dialog {
    background: var(--foreground);
    border-radius: var(--border-radius);
    max-width: 90vw;
    max-height: 92vh;
    overflow: hidden;

    @media (max-width: 1295px) {
        max-width: 98vw;
    }

    &-content {
        padding: var(--padding-md);
        height: 80vh;
        overflow-y: scroll;
        @media (max-width: 1295px) {
            padding: var(--padding-sm);
            padding-top: 0;
        }
        &-paragraph {
            padding: 0 var(--padding-md);
            &-actions {
                display: flex;
                justify-content: center;
                width: 100%;
                gap: var(--padding-md)
            }
        }
    }

    &-header {
        position: relative;
        overflow: hidden;

        &-image {
            position: relative;
            width: 100%;
            height: 180px;
            overflow: hidden;
        }

        &-overlay {
            position: relative;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
        }
    }
}

.radial-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(239, 189, 64, 1), rgba(239, 189, 64, 0));
    animation: moveGradient 30s infinite;
}

@keyframes moveGradient {
    0% {
        transform: translate(-50%, -50%);
    }

    50% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

.content-section {
    margin-top: 0px;
    padding: var(--padding-md);

    @media (max-width: 1295px) {
        display: block;
    }

    &-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--padding-md);

        @media (max-width: 1296px) {
            display: block;
        }
    }
}

.left-side {
    border-radius: var(--border-radius);
    overflow: hidden;
    display: flex;
    align-items: center;
    @media (min-width: 1295px) {
        margin-top: var(--padding-sm);
    }

    img {
        width: 100%;
        height: auto;
    }
}

.prototype-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--padding-sm);
    height: 5em;
    border-radius: var(--border-radius);
    margin-top: 2em;
    padding: 0 var(--padding-md);
    background-color: var(--button-background);
    font-family: "HelveticaNeueCondensedBlack", "HelveticaNeue", Helvetica, sans-serif;
    font-size: 1.25em;
    align-self: center;
    transition: all .3s ease-in-out;
    &:hover {
        color: var(--text-color-sec);
        background-color: var(--accent);
        border-color: var(--accent);
    }

    &:focus,
    &:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }

    svg {
        fill: var(--text-color);
    }

    &-text {
        display: flex;
        gap: 0.5em;
        color: var(--text-color);
        justify-content: start;
    }
}

.close-button {
    position: absolute;
    bottom: 5%;
    left: 0;
    display: flex;
    justify-content: start;
    align-items: end;
    gap: 0.5em;
    font-size: 1em;
    border: none;
    height: 100%;
    width: 100%;
    padding: 2em;
    z-index: -1;
    transition: all 0.4s ease-in-out;
    background: none;

    svg {
        width: 2em;
        height: 2em;
    }

    &-back-text {
        font-family: "HomemadeApple-Regular";
    }

    &:hover {
        background-color: rgba(250, 250, 250, 0.1);
        box-shadow: 20px 0 20px 20px rgba(239, 189, 64, 0.1);
        padding: 1.5em;

        svg {
            width: 2.3em;
            height: 2.3em;
        }
    }
}

.filler {
    height: 8em;
}