.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222;
    color: #fff;
    padding: 20px;
    box-shadow: var(--box-shadow-1);
    margin-top: 5em;
    height: 10em;
}

.footer-item {
    display: flex;
    align-items: center;
}

.footer-item a {
    color: #fff;
    margin-left: 8px;
    text-decoration: none;
    font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
    font-weight: 100;
}

.footer-item a:hover {
    text-decoration: underline;
}

.footer-email-copy {
    display: flex;
    align-items: center;
    border: .2em solid var(--button-background);
    padding-right: var(--padding-sm);
    border-radius: var(--border-radius);
    gap: var(--padding-sm);
    overflow: hidden;
    height: 2.4em;
    .button {
        border-radius: 0;
        &:hover {
            margin: 0;
        }
    }
}